# Ignore build artifacts
/bin/
/obj/
/out/
/debug/
/release/
/build/
/*.exe
/*.dll
/*.pdb
/*.idb
/*.ilk
/*.lib
/*.exp

# Ignore temporary files
*.bak
*.swp
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore IDE-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ignore system files
Desktop.ini
